@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&family=Roboto+Condensed&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  background-color: #24292e;
}